<ul>
    <li>{{frutas[0]}}</li>
    <li>{{frutas[1]}}</li>
    <li>melon</li>
    <li>frutilla</li>
    <li>durazno</li>
</ul>
<p class="parrafo">
    esto es un numero: {{numero}}
</p>

<p [class]="clase"(click)="onClick()" >
    Hola mundo soy {{persona.nombre  | uppercase}} {{persona.apellido}}
</p>
<input type= "text" [(ngModel)]= "value"/> 
<header class= "header">
    <nav>
        <a href="http://"></a>
        <a href="http://"></a>
        <a href="http://"></a>
        <a href="http://"></a>
        <a href="http://"></a>
        <!-- Event binding y property binding / two way data binding-->
    </nav>
</header>